footer {
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    height: 30px;
    margin: auto;
    text-align: center;
    padding: 10px 10px 0px 10px;
    position: fixed;
}
.navbar-brand {
    text-shadow: 1px 1px #0d6efd;
    font-size: 25px;
}
ion-icon {
    font-size: 25px;
}
.table {
    border-radius: 25px;
}
.password-specs {
    border: 1px solid #0d6efd;
    border-radius: 20px;
    padding-top: 13px;
    padding-left: 13px;
    font-size: 14px;
    text-align: left;
}
.registration-div {
    left: 60;
    margin: auto;
    position: relative;
    width: 400px;
}
.registration-txt-div {
    left: 60;
    margin: auto;
    position: relative;
    width: 500px;
}