{% extends "layout.html" %}

{% block title %}
    History
{%  endblock %}

{% block main %}
<h6 class="fw-light topright">Current balance: {{ context.current_balance | usd }}</h6>
<br>
<h4 class="fw-light topright">Check history of transactions for specific dates</h6>
<div class="row g-2">
    <div class="col-md">
        <div class="form-floating">
        <input id="from" name="from" type="date">
        <label for="from">From</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
        <input id="to" name="to" type="date">
        <label for="to">To</label>
        </div>  
    </div>
</div>
<br><br>
<h4 class="fw-light">All transactions</h4>
<br>
{% if context.transactions | length > 0 %}
<div class="table-responsive">
    <table class="table">
        <thead class="table-dark">
            <th class="text-start">#</th>
            <th class="text-start">Transaction ID</th>
            <th class="text-start">Transaction</th>
            <th class="text-start">Product Name</th>
            <th class="text-start">Quntity</th>
            <th class="text-start">Price</th>
            <th class="text-start">Value</th>
            <th class="text-start">Time</th>
            <th class="text-start">Accountant ID</th> 
            <th class="text-start">User ID</th>                    
        </thead>
        {% set counter = [1] %}
        {% for transaction in context.transactions %}
        <tr>
            <td class="text-start">{{ counter | length }}</td>
            {% set var = counter.append(1) %}
            <td class="text-start">{{ transaction.id }}</td>
            <td class="text-start">{{ transaction.transaction }}</td>
            {% if transaction.product_name %}
            <td class="text-start">{{ transaction.product_name }}</td>
            <td class="text-start">{{ transaction.qunatity }}</td>
            <td class="text-start">{{ transaction.price }}</td>
            {% else %}
            <td class="text-start">----</td>
            <td class="text-start">----</td>
            <td class="text-start">----</td>
            {% endif %}
            <td class="text-start">{{ transaction.value }}</td>
            <td class="text-start">{{ transaction.time }}</td>
            <td class="text-start">{{ transaction.accountant_id }}</td>
            <td class="text-start">{{ transaction.user_id }}</td>                 
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>No registered transactions</p>
{% endif %}
    <br>
{% endblock %}