{% extends "layout.html" %}

{% block title %}
    History
{%  endblock %}

{% block main %}
<h6 class="fw-light topright">Current balance: {{ context.current_balance | usd }}</h6>
<br>
{% if min_date and max_date %}
<h6 class="fw-light topright">Check history of transactions for specific dates</h6>
<br>
<form action="/history/<date_from>/<date_to>" class="row mb-3 g-3 align-items-center" method="get">
    <div class="col-md-4">
        <label class="form-label" for="from">From</label>
        <input id="from" min={{ min_date }} max={{ max_date }} name="date_from" type="date">        
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label" for="to">To</label>    
        <input id="to" min={{ min_date }} max={{ max_date }} name="date_to" type="date">        
        </div>  
    </div>
    <div class="col-md-4">   
        <button class="btn btn-primary" type="submit">Check history</button>      
    </div>  
</form>
{% endif %}

{% if context.transactions | length > 0 %}
<br><br>
<h4 class="fw-light">All transactions</h4>
<br>
<div class="table-responsive">
    <table class="table">
        <thead class="table-dark">
            <th class="text-start">#</th>
            <th class="text-start">Transaction ID</th>
            <th class="text-start">Transaction</th>
            <th class="text-start">Product Name</th>
            <th class="text-start">Quantity</th>
            <th class="text-start">Price</th>
            <th class="text-start">Value</th>
            <th class="text-start">Date</th>
            <th class="text-start">Accountant ID</th> 
            <th class="text-start">User ID</th>                    
        </thead>
        {% set counter = [1] %}
        {% for transaction in context.transactions %}
        <tr>
            <td class="text-start">{{ counter | length }}</td>
            {% set var = counter.append(1) %}
            <td class="text-start">{{ transaction.id }}</td>
            <td class="text-start">{{ transaction.transaction }}</td>
            {% if transaction.product_name %}
            <td class="text-start">{{ transaction.product_name }}</td>
            <td class="text-start">{{ transaction.quantity }}</td>
            <td class="text-start">{{ transaction.price | usd }}</td>
            {% else %}
            <td class="text-start">----</td>
            <td class="text-start">----</td>
            <td class="text-start">----</td>
            {% endif %}
            <td class="text-start">{{ transaction.value | usd }}</td>
            <td class="text-start">{{ transaction.time }}</td>
            <td class="text-start">{{ transaction.accountant_id }}</td>
            <td class="text-start">{{ transaction.user_id }}</td>                 
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>No registered transactions</p>
{% endif %}
    <br>
{% endblock %}